/* Icons (inline elements with styled text that mock arrow icons)
--------------------------------------------------------------------------------------------------*/

/* .modal-dialog {
	width: 360px;
} */

/* .modal-header {
background-color: #004000;
padding:5px 5px;
color:#FFF;
border-bottom:1px dashed #BBBB00;
}

.modal-content {
background-color:#525864;
}       

.modal-footer {
background-color:#004000;
padding: 1rem;
border-top: 1px solid #e9ecef;
} */






.fc-icon {
	display: inline-block;
	height: 2em;
	line-height: 1.5em;
	font-size: 1em;
    text-align: center;
    vertical-align: middle;
	overflow: hidden;
	font-family: "Courier New", Courier, monospace;

	/* don't allow browser text-selection */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	}

/*
Acceptable font-family overrides for individual icons:
	"Arial", sans-serif
	"Times New Roman", serif

NOTE: use percentage font sizes or else old IE chokes
*/

.fc-icon:after {
	position: relative;
}

.fc-icon-left-single-arrow:after {
	content: "\02039";
	font-weight: bold;
	font-size: 200%;
	top: -7%;
}

.fc-icon-right-single-arrow:after {
	content: "\0203A";
	font-weight: bold;
	font-size: 200%;
	top: -7%;
}

.fc-icon-left-double-arrow:after {
	content: "\000AB";
	font-size: 160%;
	top: -7%;
}

.fc-icon-right-double-arrow:after {
	content: "\000BB";
	font-size: 160%;
	top: -7%;
}

.fc-icon-left-triangle:after {
	content: "\25C4";
	font-size: 125%;
	top: 3%;
}

.fc-icon-right-triangle:after {
	content: "\25BA";
	font-size: 125%;
	top: 3%;
}

.fc-icon-down-triangle:after {
	content: "\25BC";
	font-size: 125%;
	top: 2%;
}

.fc-icon-x:after {
	content: "\000D7";
	font-size: 200%;
	top: 6%;
}







body {
    margin: 0;
    padding: 0;
    font-size: 14px;
  }


.left { float: left }
.right { float: right }
.clear { clear: both }

#calendar {
	max-width: 800px;
  margin: 40px auto;
  padding: 0 10px;
}

#calendar_s {
  max-width: 800px;
  margin: 40px auto;
  padding: 0 10px;
}




.fc-toolbar {
	text-align: center;
	margin-bottom: 1em;
}

.fc-toolbar .fc-left {
	float: left;
}

.fc-toolbar .fc-right {
	float: right;
}

.fc-toolbar .fc-center {
	display: inline-block;
}




.fc-content {
    color: white;
    text-align: center;
    font-weight: bold;
}


.fc th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: rgb(0, 0, 0);
      color: white;
      text-align: center;
  }

  .fc-nonbusiness { /* default look for non-business-hours areas */
	/* will inherit .fc-bgevent's styles */
	background: #7642ca;
}